@charset "UTF-8";

/* 전체영역 */

@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css); .jejugothic * { font-family: 'Jeju Gothic', sans-serif; }
@font-face { font-family: 'BMHANNAPro'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') 
format('woff'); font-weight: normal; font-style: normal; }

.panel-primary {
  border-color: #44bd32;
}
#jtitle{
	font-family: 'BMHANNAPro';
	
	}

#jurl{
	font-family: 'BMHANNAPro';
}
.media-heading{
	font-family: 'BMHANNAPro';
}


#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > a{
	font-family: 'BMHANNAPro';
}
/* 가운데 판넬 영역 */
.panel-success > .panel-heading {
  color: #ffffff;
  background-color: #44bd32;
  border-color: #44bd32;
}
/*강의목록 선 색깔*/
.panel-success{
 border-color: #44bd32;
}
.panel-title{
	font-family: 'BMHANNAPro'
}
.col-md-4 h4{
	font-family: 'BMHANNAPro'
}

a {
	color: #000000;
	text-decoration: none;
}
.sub-title{
	font-size:18px;
	
}


a:hover {
	color: #44bd32;
	text-decoration: none;
	cursor: pointer;
}

/* 가운데 바 영역 */
.panel-primary > .panel-heading{ 
	background-color: #44bd32;
	border-color: #44bd32;
}

/* 네비게이션바 영역 */
.navbar-default{ /* 배경색 */
	background-color: #44bd32;
	border-color: #44bd32;
}


.navbar-default .navbar-brand { /* 브랜드 부분 글씨색 */
	font-family: 'BMHANNAPro';
	color: #ffffff;
}


.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{ /* 브랜드 커서나 포커스 */
	color: #bbbbbb;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{ /* 네비게이션 메뉴중 엑티브 상태의 글씨색 및 배경 */
	color: white;
	background-color: #f8b62e;
}

.navbar-default .navbar-nav > li > a{ /* 네비게이션 메뉴바 글씨색 */
	color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{ /* 네비게이션바 메뉴바 커서 또는 클릭상태 */
	color: white;
	background-color: #f8b62e;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{ /* 드랍다운 배경색 및 글씨색 */
	color: #000000;
	background-color: #f8b62e;
	text-decoration: none;
}

.navbar-default .navbar-nav > li > a{ /* 네비게이션 기본색상 */
	color: white;
}

@media(max-width: 767px){
	.jumbotron p {
	  font-size: 25px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a{
		color: #ffffff; 
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
		color: #000000;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{
		color: #000000;
	}
}

/* 점보트론 영역 */
.jumbotron {
	/* 편하려구 이미지 다운 대신 링크로 넣음 */

	background-size: 100% 100%;
	text-shadow: black 0.2em 0.2em 0.2em;
	color: white;
	margin-bottom: 0px;
	padding: 0px;
}



/* 푸터영역 영역 */
footer {
	background-color: #44bd32;
	border-color: #44bd32;
	color: #ffffff;
}

footer .container .row .col-sm-3{
	text-align: center;
}

.row .col-sm-2 h4{
	text-align: center;
}

footer .container .row .col-sm-2 h4{
	text-align: center;
}

.row .modal-body{
	text-align: center;
}

.btn .btn-primary .btn-lg{
	
	background-color: #44bd32;
	border-color: #44bd32;
}

.panel-img-costom{
	width: 100%;
	height: 100%;
	margin: 0px;
	border-radius: 2.5px;
}

.panel-img-costom:hover{
	border: 3px solid;
}

#panel-body-costom{
	padding: 7px;
	height: 195px;
	text-align: center;
	padding: 2px;
}