@charset "UTF-8";

#mapwrap{position:relative;overflow:hidden;}
.category, .category *{margin:0;padding:0;color:#000;} /* 가로유지 */
.category {position:absolute;overflow:hidden;top:10px;left:10px;width:262px;height:70px;z-index:10;border:1px solid black;font-family:'Malgun Gothic','맑은 고딕',sans-serif;font-size:12px;text-align:center;background-color:#fff;} /* 전체줄 위치고정 */
.category .menu_selected {background:#FF5F4A;color:#fff;border-left:1px solid #915B2F;border-right:1px solid #915B2F;margin:0 -1px;} /* 클릭효과 */
.category li{list-style:none;float:left;width:65px;height:70px;padding-top:5px;cursor:pointer;text-align: center;} /* 칸당 가로 유지 */

.customoverlay {position:relative;bottom:63px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #d95050 url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
#map{
	width: 100%;
	height: 750px;
	border-radius: 5px;
}
@media(max-width: 767px){
	#map{
		width: 445px;
		height: 445px;
	}
	
	.category{
		width:200px; height:50px;
	}


	.category li{
		width:50px;height:100%;
		font-size: 2px;
	}
	.mapIcon{
		width:95%; height: 30px;
	}
}
